@import "colors";

.dropdown-menu {
    background: white;
    color: $gray;
    font-size: 1.4rem;
    list-style: none;
    margin-top: 0.75rem;
    margin-bottom: 0;
    border-radius: 0.3rem;
    padding: 0.5rem;
    position: absolute;
    width: inherit;
    box-sizing: border-box;
    border: 1px solid $lightgray;
    text-align: center;

    .hover {
        background-color: $lightergray;
        cursor: pointer;
    }

    li {
        padding: 0.25rem;
        border-radius: 0.3rem;

        &:hover {
            background-color: $lightergray;
            cursor: pointer;
        }
    }
}
