@import "colors";

.footer {
    margin-top: 3rem;
    padding: 3rem 0;
    border-top: 1px solid $lightergray;
    width: 70%;
    text-align: center;

    svg {
        fill: $lightgray;
        width: 2.4rem;
    }
}
