@import "colors";

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    justify-self: stretch;
    align-items: center;
    padding: 1rem 2rem;
    background: $black;
    font-size: 1.4rem;

    p {
        margin: 0;
        display: inline-block;
        align-self: center;
    }

    svg {
        width: 3.2rem;
        fill: white;
    }
}
