@import "colors";

.pokemon-card {
    background: white;
    font-size: 1.25rem;
    color: $grey;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid $gray;
    text-align: center;

    p {
        margin: 0;
    }
}
