@import "colors";

.search-bar {
    form {
        width: 25rem;
    }

    input {
        height: 4rem;
        width: 100%;
        border: 1px solid black;
        border-radius: 0.75rem;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        text-align: center;
        box-sizing: border-box;
    }
}
